@charset "utf-8";

*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.tabela{
    margin: auto;
}


.tabela td{
    padding: 40px;
    border: solid #303030 1px;
}

input
{
    padding: 10px;
    margin: 7.5px;
    width: 300px;
}
